@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ng57nd");
  src: url("../fonts/icomoon.eot?ng57nd#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ng57nd") format("truetype"), url("../fonts/icomoon.woff?ng57nd") format("woff"), url("../fonts/icomoon.svg?ng57nd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-google:before {
  content: "\e900"; }

.icon-youtube:before {
  content: "\e901"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-twitter:before {
  content: "\ea96"; }

.icon-dribbble:before {
  content: "\eaa7"; }

body {
  color: #000;
  background-color: #fff;
  font-size: 15px;
  line-height: 1.4;
  font-family: Roboto, Arial, sans-serif; }

p {
  margin-top: 0;
  margin-bottom: 15px; }

a {
  color: #8e8e8e;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 700;
  color: inherit; }

h1,
.h1 {
  font-size: 36px;
  margin: 1em; }

h2,
.h2 {
  font-size: 30px;
  margin: 1em; }

h3,
.h3 {
  font-size: 24px;
  margin: 1em; }

h4,
.h4 {
  font-size: 18px;
  margin: 1em; }

h5,
.h5 {
  font-size: 14px;
  margin: 1em; }

h6,
.h6 {
  font-size: 12px;
  margin: 1em; }

.form-group {
  margin-bottom: 15px; }

.form-control {
  width: 100%;
  display: block;
  color: red;
  font-size: 14px;
  background-color: #eaeef1;
  border: 1px solid #eaeef1;
  border-radius: 2px;
  height: 44px;
  line-height: 1.4;
  padding: 12.2px 20px; }
  .form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 1; }
  .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #fff;
    opacity: 1; }

.form-label {
  display: block;
  color: #eaeef1;
  font-size: 14px;
  margin-bottom: 4px; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  text-align: center;
  height: 100vh;
  table-layout: fixed; }

.header {
  display: table-header-group;
  background-color: #89898b; }

.footer {
  display: table-footer-group; }

.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 0 10px; }

.wrapper .header {
  text-align: center; }

.wrapper .container {
  max-width: 1200px; }
  .wrapper .container_inner {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
    margin: 0 auto;
    max-width: 1200px; }
  .wrapper .container_inner_fix {
    max-width: 1200px;
    display: table-cell;
    vertical-align: middle;
    height: auto;
    margin: 0 auto; }

.wrapper .header_nav {
  height: 120px;
  border-bottom: 1px solid #ffe600; }

.wrapper .about_block {
  text-align: center;
  display: table-row;
  height: 300px; }
  .wrapper .about_block h2 {
    margin-top: 0; }

.header_top_logo_wrapper {
  margin-bottom: 50px; }

.header_top_logo_text {
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase; }

.header_slogan {
  color: #ffe600;
  font-size: 40px;
  margin-bottom: 112px; }

.header_main_button {
  display: inline-block;
  border: 1px solid #ffe600;
  padding: 20px 80px;
  color: #fff;
  margin-bottom: 70px;
  text-transform: uppercase;
  position: relative; }
  .header_main_button:hover {
    color: #ffe600;
    text-decoration: underline;
    border: 1px solid #fff;
    cursor: pointer; }
  .header_main_button:before {
    content: "";
    position: absolute;
    bottom: -70px;
    left: 40%;
    z-index: 2;
    width: 38px;
    height: 20px;
    background: transparent url("../img/arrow.png") no-repeat; }

.header_nav {
  padding-top: 35px; }
  .header_nav_block {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    min-width: 400px;
    text-align: justify; }
    .header_nav_block:after {
      content: "";
      display: inline-block;
      width: 100%; }
    .header_nav_block li {
      display: inline; }
      .header_nav_block li a {
        display: inline-block;
        text-transform: uppercase;
        padding: 15px 20px;
        border: 1px solid transparent; }
      .header_nav_block li a:hover {
        display: inline-block;
        padding: 15px 20px;
        border: 1px solid #ffe600;
        color: #000; }

.second_logo {
  float: left; }

.about_block h2 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400; }

.about_block .about_description {
  color: #ffe600; }

.features_list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .features_list li {
    width: 33.33%;
    display: inline-block;
    float: left;
    padding: 0 3%; }
  .features_list p {
    padding: 0 20% 0 0;
    color: #8e8e8e;
    height: 105px;
    overflow: hidden; }
  .features_list .features_head {
    margin-bottom: 25px;
    height: 50px;
    overflow: hidden; }
    .features_list .features_head h4 {
      margin: 0;
      padding-left: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      border-left: 1px solid #ffe600;
      font-weight: 400; }
    .features_list .features_head .count {
      display: table-cell;
      font-size: 25px;
      color: #ffe600;
      height: 35px;
      padding-right: 15px;
      vertical-align: baseline; }

.text_block {
  height: 600px;
  background-color: #ffe600;
  display: table-row;
  text-align: center; }
  .text_block .text_block_inner {
    width: 50%;
    display: inline-block; }
    .text_block .text_block_inner h1 {
      font-size: 25px;
      font-weight: 300;
      font-style: italic; }
    .text_block .text_block_inner p {
      color: #fff; }

.portfolio_header, .clients_header {
  height: 300px;
  display: table-row;
  text-align: center; }
  .portfolio_header .portfolio_header_block, .portfolio_header .clients_header_block, .clients_header .portfolio_header_block, .clients_header .clients_header_block {
    width: 60%;
    display: inline-block; }
    .portfolio_header .portfolio_header_block h3, .portfolio_header .clients_header_block h3, .clients_header .portfolio_header_block h3, .clients_header .clients_header_block h3 {
      font-weight: 400;
      margin: 0 0 30px 0; }
    .portfolio_header .portfolio_header_block p, .portfolio_header .clients_header_block p, .clients_header .portfolio_header_block p, .clients_header .clients_header_block p {
      color: #ffe600; }

.clients_header {
  background-color: #424245; }
  .clients_header .clients_header_block h3 {
    color: #fff; }

.portfolio_block {
  text-align: center;
  padding-bottom: 150px; }
  .portfolio_block .portfolio_block_open {
    margin: 0;
    color: #ffe600;
    position: relative;
    display: inline-block;
    cursor: pointer; }
    .portfolio_block .portfolio_block_open:before {
      content: "";
      position: absolute;
      bottom: -70px;
      left: 40%;
      z-index: 2;
      width: 38px;
      height: 20px;
      background: transparent url("../img/arrow2.png") no-repeat; }
  .portfolio_block .portfolio_block_open.opened:before {
    -webkit-animation: cssAnimation 1s 16 ease;
    -moz-animation: cssAnimation 1s 16 ease;
    -o-animation: cssAnimation 1s 16 ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    background: transparent url("../img/arrow2.png") no-repeat;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -webkit-transform: rotate(180deg) scale(1) skew(1deg) translate(0px); } }

@-moz-keyframes cssAnimation {
  from {
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -moz-transform: rotate(180deg) scale(1) skew(1deg) translate(0px); } }

@-o-keyframes cssAnimation {
  from {
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to {
    -o-transform: rotate(180deg) scale(1) skew(1deg) translate(0px); } }
  .portfolio_block .portfolio_block_add {
    display: none; }
  .portfolio_block ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0; }
    .portfolio_block ul li {
      display: inline-block;
      width: 22%;
      font-size: 15px;
      margin-right: 3%;
      margin-bottom: 25px;
      position: relative;
      overflow: hidden; }
    .portfolio_block ul li:hover > .gallery-photo-overlay {
      top: 0; }
    .portfolio_block ul li:nth-child(4n) {
      margin-right: 0; }
    .portfolio_block ul .gallery-photo-overlay {
      background-color: #ffe600;
      padding-top: 60px;
      height: 100%;
      left: 0;
      top: -100%;
      position: absolute;
      width: 100%;
      -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
      -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
      -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
      -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
      transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; }
      .portfolio_block ul .gallery-photo-overlay h5 {
        margin: 0 0 15px 0; }
      .portfolio_block ul .gallery-photo-overlay p {
        color: #fff; }

.clients {
  background-color: #424245; }
  .clients .clients_block ul {
    list-style: none;
    margin: 0;
    padding: 0 0 60px;
    text-align: justify; }
    .clients .clients_block ul:after {
      content: "";
      display: inline-block;
      width: 100%; }
  .clients .clients_block li {
    display: inline-block; }
    .clients .clients_block li a {
      height: 65px;
      display: table-cell;
      vertical-align: middle; }

.form_block form {
  width: 80.83%;
  margin: 0 auto;
  padding-bottom: 85px; }

.form_block .form-group {
  width: 100%;
  font-size: 0px; }
  .form_block .form-group input, .form_block .form-group textarea {
    font-size: 15px;
    width: 100%;
    height: 50px;
    border: none;
    color: #fff;
    padding: 10px 0 10px 20px;
    background-color: #ffe600; }
  .form_block .form-group textarea {
    height: 180px; }
  .form_block .form-group input[type="submit"] {
    background-color: #000;
    color: #ffe600; }
  .form_block .form-group input[type="submit"]:hover {
    color: #fff; }

.form_block .form-group-col-2 input {
  width: 48.45%;
  display: inline-block; }

.form_block .form-group-col-2 input:first-child {
  margin-right: 3%; }

.footer {
  background-color: #131316;
  height: 100px; }
  .footer .block-footer {
    padding-top: 40px; }
  .footer .copyright {
    color: #ffe600;
    display: inline-block;
    width: 25%;
    float: left; }
  .footer .social {
    display: inline-block;
    width: 35%;
    float: right; }
    .footer .social a {
      width: 20px;
      height: 20px;
      display: inline-block;
      color: #fff;
      font-size: 20px;
      padding: 0 34px 0; }
      .footer .social a:hover {
        color: #ffe600; }

.stickytop {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100; }
